.ipynb_checkpoints/*.ipynb
gptj.pt
hello_milvus.py
npcloud-gpt-j.ipynb
TransformerAEC/wikitext103_embeddings/*.*
TransformerAEC/test_wiki2_embeddings/*.*
TransformerAEC/wikitext-103-valid/*.*
TransformerAEC/wikitext-103-test/*.*
TransformerAEC/test_wiki_embeddings/*.*
TransformerAEC/wikitext2_embeddings/*.*
OpenAIChat/key_openai.txt
Phi3Chat/__pycache__/*.*
GroqChat/message_history.pkl
Phi3Chat/message_history.pkl
